div.about-background {
  background: #f9f9f9;
  border-bottom: 2px solid LightGray;
}

div.about {
  margin: 0 auto;
  padding-top: 50px;
  width: 1000px;
  height: 100%;
  padding-bottom: 50px;

  h1 {
    text-align: center;
    font-size: 45pt;
    margin-bottom: 50px;
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 14pt;
    color: #404040;
  }

  section.about-and-skills {
    display: flex;

    aside.about {
      flex: 1;
      margin-right: 30px;
    }

    ul.skills {
      flex: 1;

      li {
        text-align: left;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        span {
          font-size: 16pt;
        }

        div.bar-line {
          width: 100%;
          height: 5px;
          border-bottom: 1px solid LightGray;
        }
      }
    }
  }
}

div.javascript {
  height: 100%;
  width: 100%;
  background: #87c6f1;
}

div.ruby-rails {
  height: 100%;
  width: 80%;
  background: #87c6f1;
}

div.react-redux {
  height: 100%;
  width: 80%;
  background: #87c6f1;
}

div.html {
  height: 100%;
  width: 80%;
  background: #87c6f1;
}

div.css {
  height: 100%;
  width: 80%;
  background: #87c6f1;
}
