div.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #ffffff transparent transparent transparent;
  position: relative;
  bottom: 2px;
  padding-bottom: 50px;
}

div.contact {
  margin: 0 auto;
  background: #f9f9f9;
  border-top: 2px solid LightGray;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 { margin: 50px 0; }

  section.input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;

    textarea {
      padding: 5px 10px;
      background: #87c6f1;
      border: none;
      margin-bottom: 30px;
      border-left: 5px solid #2294d4;
      font-size: 16pt;
      resize: none;
      height: 300px;
      width: 100%;
      color: black;

      &:focus {
        outline: none;
      }
    }

    input {
      padding: 5px 10px;
      background: #87c6f1;
      border: none;
      margin-bottom: 10px;
      border-left: 5px solid #2294d4;
      font-size: 16pt;
      color: black;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    button {
      position: relative;
      padding: 8px 15px;
      background: #87c6f1;
      border: none;
      margin-bottom: 60px;
      font-size: 20pt;
      font-weight: 400;
      color: black;

      &:focus {
        outline: none;
      }

      p {
        position: relative;
        z-index: 10;
      }

      div.button-fill {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 0px;
        width: 100%;
        background-color: #2294d4;
        transition: height 0.4s ease;
      }


      &:hover div.button-fill {
        height: 100%;
      }
    }

    span {
      font-size: 16pt;
      color: #3a3177;
      margin-bottom: 10px;
    }
  }
}

ul.contacts {
  display: flex;

  figure.linkedin {
    background-image: asset-url('linkedin-grey.png');
    background-size: contain;
    height: 50px;
    width: 50px;

    &:hover {
      background-image: asset-url('linkedin.png');
      cursor: pointer;
    }
  }

  figure.github {
    background-image: asset-url('github-grey.png');
    background-size: contain;
    height: 50px;
    width: 50px;
    margin-left: 10px;

    &:hover {
      background-image: asset-url('github.png');
      cursor: pointer;
    }
  }
}
