div.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50px 0 50px;
  border-color: #ffffff transparent transparent transparent;
  position: relative;
  bottom: 2px;
}

div.contact {
  margin: 0 auto;
  background: #f9f9f9;
  border-top: 2px solid LightGray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  section.input-field {
    display: flex;
    flex-direction: column;
    width: 1200px;
  }
}
