div.gadgets-modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0;

  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: z-index 1s step-end, opacity 0.5s 0.5s ease;

  &.open {
    opacity: 1;
    z-index: 999;
    transition: z-index 0.5s step-start, opacity 0.5s 0s ease;
  }
}

div.gadgets-modal__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: gray;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
}

main.gadget-playground-wrapper {
  flex-grow: 1;
  opacity: 0;
  height: 100vh;
  position: relative;
  z-index: 1;
  transition: all 0.5s 0s ease;

  &.open {
    opacity: 1;
    transition: all 0.5s 0.5s ease;
  }

  div.gadget-playground {
    background: white;
    border-radius: 5px;
    margin: 20px;
    height: calc(100vh - 40px);

    display: flex;
    align-items: center;
    justify-content: center;

    span.gadget-select {
      color: lightgray;
      font-weight: 400;
      font-size: 40px;
    }
  }
}

ul.gadgets-list {
  background: #573c82;
  padding: 10px;
  height: 100vh;
  width: 225px;
  position: relative;
  right: -250px;
  z-index: 1;

  transition: all 0.5s 0s ease;

  &.open {
    right: 0;
    transition: all 0.5s 0.5s ease;
  }

  h2 {
    color: white;
    font-weight: 700;
    font-size: 25px;
    text-align: left;
  }

  li {
    margin-left: 20px;
    padding: 5px;
    color: white;
  }

  li:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0 20px 20px;

    div.arrow-back {
      background-image: asset-url('white-arrow.png');
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      transform: rotate(-90deg);

      &:hover {
        cursor: pointer;
      }
    }
  }
}
