div#base {
  background-image: asset-url('mountain.jpg');
  // background-size: contain;
  // background-repeat: no-repeat;
  // background-origin: content-box;
  // background-attachment: fixed;
  // height: 100%;
  // width: 100%;
}

.parallax {
  perspective: 300px;
  -webkit-perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax__group {
  // position: relative;
  // height: 100vh;
  // transform-style: preserve-3d;
}

#base {
  transform: translateZ(-1000px) scale(5);
  // -webkit-transform: translateZ(-1000px) scale(5)
}

#layer-2 {
  transform: translateZ(-100px) scale(1);
  // -webkit-transform: translateZ(-100px) scale(1);
  background: white;
}

div.index {
  // height: 2000px;
}
