div#base {
  background-image: asset-url('mountain.jpg');
  transform: translateZ(-1180px) scale(5);
  -webkit-transform: translateZ(-1180px) scale(5);
}

div#index {
  transform: translateZ(-140px) scale(1.5);
  -webkit-transform: translateZ(-140px) translateY(138vh) scale(1.5);
  background: grey;

  h1 {
    margin-left: 10vh;
    color: white;
    font-weight: 100;
    font-size: 70px;

    &:first-child {
      margin-top: -85vh;
    }
  }
}

#group-1 {
  z-index: 0;
}

#group-2 {
  z-index: 5;
}

.parallax {
  perspective: 300px;
  -webkit-perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
