div#base {
  background-image: asset-url('mountain.jpg');
  transform: translateZ(-1180px) scale(5);
  -webkit-transform: translateZ(-1180px) scale(5);
}

div#index {
  transform: translateZ(-140px)  translateY(150vh) scale(1.5);
  -webkit-transform: translateZ(-140px)  translateY(150vh) scale(1.5);
  background: grey;
}

div.arrow-box {
  position: relative;
  z-index: 500;
  left: 93%;
  top: -100px;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.arrow {
  background-image: asset-url('arrow.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  transition: transform 0.3s;
  // transition-timing-function: ease-out;

  &:hover {
    cursor: pointer;
    transform: rotate(90deg);
  }
}

div#name {
  transform: translateZ(-140px) scale(1.5);
  -webkit-transform: translateZ(-140px) scale(1.5);
  h1 {
    margin-left: 100px;
    color: white;
    font-weight: 100;
    font-size: 70px;

    &:first-child {
      margin-top: 100px;
    }
  }
}


#group-1 {
  z-index: 0;
}

#group-2 {
  z-index: 5;
}

.parallax {
  perspective: 300px;
  -webkit-perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
