div.projects {
  margin: 0 auto;
  width: 1000px;
  padding: 50px 0 40px 0;
}

ul.projects {
  display: flex;
  flex-direction: column;

  li {
    display: flex;
    height: 350px;
    margin: 50px 0;
    margin-left: 80px;
    justify-content: center;

    article {
      margin: 20px;
      height: 310px;
      width: 310px;
      min-width: 310px;
      background-size: cover;
      background-position: center;
      transition: transform 0.5s;

      position: relative;

      a {
        display: block;
        height: 100%;
        width: 100%;
      }
    }

    h1 {
      position: relative;
      height: 100px;
      top: 60px;
      background: #f9f9f9;
      transition: all 0.5s;
    }

    h2 {
      position: relative;
      top: 10px;
      width: 550px;
      text-align: center;
      transition: all 0.5s;
    }

    h6 {
      margin: 0 auto;
      width: 470px;
      transition: all 0.5s;
      font-size: 13.5pt;
    }

    article.vibe {
      background-image: asset-url('display.jpg');
    }

    article.algomapper {
      background-image: asset-url('algo.jpg');
    }

    article.valkyrie {
      background-image: asset-url('valkyrie.jpg');
    }

    section {
      position: relative;
      right: 70px;
      top: 20px;
      margin: 20px;
      padding: 10px;
      background: #f9f9f9;
      opacity: 0.8;
      font-size: 14pt;

      transition: transform 0.5s;
    }
  }

  li.vibe:hover {
    article {
      transform: translateX(-15px) translateY(10px);
      cursor: pointer;
    }

    h1 {
      top: 10px;
      height: 80px;
      margin-bottom: 30px;
    }

    h2 {
      top: 40px;
    }

    section {
      transform: translateX(15px) translateY(-10px);
    }
  }

  li.algomapper:hover {
    article {
      transform: translateX(-15px) translateY(10px);
      cursor: pointer;
    }

    h1 {
      top: 10px;
      height: 80px;
      margin-bottom: 30px;
    }

    h2 {
      top: 40px;
    }

    section {
      transform: translateX(15px) translateY(-10px);
    }
  }

  li.valkyrie:hover {
    article {
      transform: translateX(-15px) translateY(10px);
      cursor: pointer;
    }

    h1 {
      top: 10px;
      height: 80px;
      margin-bottom: 30px;
    }

    h2 {
      top: 40px;
    }

    section {
      transform: translateX(15px) translateY(-10px);
    }
  }
}

h1 {
  text-align: center;
  font-size: 45pt;
  margin-bottom: 50px;
}

div.border {
  height: 2px;
  width: 800px;
  border-radius: 50%;
  margin: 0 auto;
  background: black;
  opacity: 0.2;
}
